*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: white;
}

/* structure */


.central{
    display: flex;
}

header{
    width: 220px;
    height: calc(100vh - 6em);
    background-color: black;
    display: flex;
    flex: 0 0 auto;
    overflow: hidden;
}

main{
    width: calc(100vw - 220px);
    height: calc(100vh - 6em);
    background-color: #141922;
    overflow-y: auto;
}

footer{
    background-color: rgb(40, 40, 40);
    width: 100%;
    height: 6em;
}

span{
    display: inline-block;
}


/* HEADER */

.head-content{
    display: flex;
    flex-direction: column;
    color: #999999;
    justify-content: space-between;
}

.logo{
    justify-content: start;
    margin-top: 1em;
    padding-left: 1em;
    
}

.logo-lg{
    width: 150px;
    margin-bottom: 1.5em;

}

.logo-small{
    display: none;
}


.search li img{
    width: 45px;
    color: #999999;
    padding-left: 1rem;
    padding-right: .3rem;
    vertical-align: middle;
}

.search li{
    list-style: none;
    font-size: 14px;
    margin: .5em 0 1.2em 0;
    border-left: 2px solid transparent;
}

.search li:first-child{
    border-left: 2px solid #9ae32e;
}

.search li a{
    color: #999999;
    text-decoration: none;
}

.search li a:hover{
    color: white;
}

.head-content h4{
    margin: 1.3em 0 .5em 1em;
}

.add-play{
    background-color: black;
    border: none;
    font-size: 15px;
    margin-left: 0;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 1em;
    color: #999999;
}

.add-play:hover{
    color: white;
}

.add-play .bi-plus-square-fill:hover{
    color: white;
}

.bi-plus-square-fill{
    font-size: 30px;
    padding-right: .5em;
    color: #999999;
}

.name-play{
    padding-left: 1em;
    list-style: none;
}

.name-play li{
    font-size: 14px;
    margin-top: 1em;
    color: #999999;
    cursor: pointer;
}

.name-play li:hover{
    color: white;
}

.end-header{
    margin-left: 1em;
    margin-bottom: .3em;
}

.install-app{
    font-size: 12px;
    padding-bottom: .6em;
    color: #999999;
    cursor: pointer;
}

.install-app:hover{
    color: white;

}

.bi-arrow-down-circle{
    color: #999999;
}

.install-app .bi-arrow-down-circle{
    padding-right: .5em;
}

.line{
    width: 93%;
    border: 1px solid #999999;
}

.user{
    padding-top: .5em;
    padding-bottom: .3em;
}

.logo-user{
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: #999999;
    border-radius: 50%;
}

.logo-user img{
    width: 15px;
}

/* MAIN */

.top-btn{
    width: calc(100vw - 220px);
    height: 4em;
    background-color: rgba(0, 0, 0, 0.4);
    
    display: flex;
    justify-content: flex-end;
    align-items: center;

    position: fixed;
    z-index: 10;
}

.top-btn a {
    padding: .8em;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: .8em 2em;
    margin-right: 2em;
}

.top-btn a:hover{
    transform: scale(1.1);
}

main ul{
    text-align: center;
    height: 2em;
    padding-top: 5em;
}

main ul li{
    display: inline-block;
    padding: 0 .5rem;
}

main ul li a{
    font-size: 14px;
    text-decoration: none;
    color: #999999;
}

main ul li a:hover{
    color: white;
}

.green{
    width: 40px;
    height: 2px;
    background-color: #9ae32e;
    margin-top: 5px;
    margin-left: 26px;
    text-align: center;
}

h2{
    padding: 1em 0 1em 0;
    width: 100%;
}

.content{
    margin-top: 2em;
    margin-left: 1.2em;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.card{
    max-width: calc(100% / 6 - 1em);
    margin-right: 1em;
    margin-bottom: 1em;
}



.card img{
    width: 100%;
}

.fa-play-circle{
    font-size: 60px;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.card img:hover{
    opacity: 0.5;
}

.content .card .fa-play-circle:hover{
    visibility: visible;
}

p{
    text-align: center;
}

.under-img{
    margin-top: .5em;
    margin-bottom: .5em;
}

.subtitle{
    color: #999999;
}

.content-mid h2, .sub-left{
    width: 100%;
}

.content-mid h2{
    margin-bottom: .7em;
}

.sub-left{
    color: #999999;
    margin-bottom: 2em;
}

.img-cir{
    border-radius: 50%;
}

/* FOOTER */

.content-foot{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6em;
}

.song{
    width: 15%;
}

.album{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.album img{
    width: 50px;
    padding-left: .5em;
}

.title-img{
    font-size: 14px;
    margin-left: .5rem;
}

.icon-foot i:hover{
    color: white;
    cursor: pointer;
}

.icon-foot i{
    color: #999999;
    vertical-align: middle;
    margin-right: .5rem;
}

.bi-heart{
    margin-left: 3em;
}

.text-img{
    font-size: 10px;
    color: #999999;
    margin-left: .8rem;
}

.btn-music{
    width: 40%;
}

.icon-music{
    font-size: 17px;
    text-align: center;
    padding-bottom: .7em;
}

.bi-play-circle{
    font-size: 22px;
    margin: 0 1.6em 0 1.6em;
}

.fa-step-backward{
    margin-left: 1em;
}

.fa-step-forward{
    margin-right: 1em;
}

.icon-btn{
    width: 100%;
    display: flex;
    margin-bottom: .7em;
    justify-content: center;
}

.time-song{
    font-size: 11px; 
}

.volume-under{
    display: flex;
    justify-content: center;
    flex: 1 2 auto;

    align-items: center;
    width: 40%;

    position: relative;
    vertical-align: middle;
}

.time-line{
    width: 100%;
    height: 4px;
    background-color: rgb(90, 90, 90);
    border-radius: 3px;
    margin: 0 1.5em 0 1.5em;
    
}

.time-less-one{
    width: 15%;
    height: 4px;
    background-color: rgb(193, 193, 193);
    border-radius: 3px;
    position: absolute;
    top: 39%;
    left: 0%;
    margin-left: 1.5em;
}

.volume .fa-list, 
.fa-desktop,
.fa-volume-down{
    margin-right: 1.2em;
    font-size: 14px;
}

.volume{
    display: flex;
    width: 15%;
    padding-left: .3em;
    justify-content: flex-end;
}

.volume-over-one{
    display: flex;
    align-items: center;
    position: relative;
    vertical-align: middle;
    width: 100%;
}

.volume-song{
    width: 80%;
    height: 4px;
    background-color: rgb(90, 90, 90);
    border-radius: 3px;
    margin-right: .8em;
}

.volume-song-less{
    width: 20%;
    height: 4px;
    background-color: rgb(193, 193, 193);
    border-radius: 3px;
    position: absolute;
    top: 39%;
    left: 0%;
}


/* media query */

@media screen and (max-width: 992px) {
   
    main ul li a{
        font-size: 14px;
    }

    .card{
        width: calc(100% / 4 - 1em);
        flex-wrap: wrap;
    }

    .under-img{
        font-size: 16px;
    }

    .subtitle{
        font-size: 12px;
    }

    .sub-left{
        font-size: 14px;
    }

}

@media screen and (max-width: 768px) {
    .card{
        width: calc(100% / 4 - 1em);
        flex-wrap: wrap;
        margin-right: 1em;
    }

}

@media screen and (max-width: 576px) {
    
    header{
        width: 60px;
    }
    
    .header-top{
        align-items: center;
        padding-right: 0;
    }
    
    .end-header{
        align-items: center;
    }

    .install-app{
        text-align: center;
    }

    .user{
        text-align: center;
    }

    main{
        width: calc(100vw - 60px);
    }

    .top-btn{
        width: calc(100vw - 60px);
        font-size: 13px;
        padding: 1rem;
    }

    .top.btn a{
        margin-right: 0;
    }

    .logo-lg{
        display: none;
    }



    .logo-small{
        display: inline-block;
        width: 30px;
    }

    .name-play{
        display: none;
    }

    h4{
        display: none;
    }

    .search li a{
        display: none;
    }

    .add-play{
        display: none;
    }

    .name-install{
        display: none;
    }

    .line{
        display: none;
    }

    .name-user{
        display: none;
    }
}